.app.light {
	--bg-color: #e6e4d8;
	--inverted-bg-color: #22333b;

	--primary-color: #22333b;
	--secondary-color: #8c6d51;

	--inverted-primary-color: #e6e4d8;
	--inverted-secondary-color: #8c6d51;
}
